# what this config will do:
# checkout the code on an ubuntu vm (uses), install requirements for app to run (run), and run tests (run)

# want to test the app
name: Testing

# run tests on push
on: push

jobs:
  test_project:

    # github has virtual machines, want to run the app on this type of vm - 'ubuntu-latest' latest version of Linux
    runs-on: ubuntu-latest
    steps:

    # will checkout code in a git repo on vm which will allow programs to be run on code
    - uses: actions/checkout@v2

    # just a description
    - name: Run Django unit tests

      # first install django as this is needed, cd into dir where 'manage.py' is located,
      # then run tests - tests are created by developer
      run: |
        cd commerce
        pip install -r requirements.txt
        python3 manage.py test
